<div class="main-container">
  <ng-container *ngIf="groupResponse$ | async as groupResponse">
    <div class="control-buttons">
      <button
        (click)="onUpdateButtonClick()"
        [disabled]="(dialogService.isExceptionSubject | async) === true"
        mat-raised-button
        color="primary"
        class="update-button">
        UPDATE CHAT MESSAGES
      </button>
      <button
        *ngIf="(store.select(selectGroupById(groupID, authorUid)) | async)"
        mat-raised-button
        color="warn"
        class="delete-button">
        DELETE CHAT
      </button>
    </div>
    <div class="message-container">
      <div
        [ngClass]="isAuthorMessage(message)"
        class="wrapper"
        *ngFor="let message of groupResponse.messages">
        <div class="author-wrapper">
          <span class="author item"
            >{{(store.select(selectUserById(message.authorID)) | async)}}</span
          >
        </div>
        <span class="message item">{{message.message}}</span>
        <div class="created-at-wrapper">
          <span class="created-at item">{{message.createdAt | date: 'short'}}</span>
        </div>
      </div>
    </div>
    <div class="form-wrapper">
      <form class="chat-form" [formGroup]="chatForm">
        <mat-form-field class="message-form">
          <mat-label>Message</mat-label>
          <mat-error *ngIf="message.invalid">Please enter your message</mat-error>
          <textarea
            #textInput
            matInput
            class="message-input"
            type="text"
            formControlName="message"></textarea>
        </mat-form-field>
      </form>
      <button
        [disabled]="chatForm.invalid"
        (click)="onSendNewMessageButtonClick(textInput.value)"
        mat-raised-button
        color="primary"
        class="send-button">
        SEND NEW MESSAGE
      </button>
    </div>
    <a class="main-page-link" [routerLink]="ProjectPages.Empty">RETURN TO THE MAIN PAGE</a>
  </ng-container>
</div>
