<div class="login-container">
  <h2 class="login-header">Login</h2>
  <div class="login-form">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" required />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-custom-button class="abc" customClass="login-button button">Login</app-custom-button>
  </div>
</div>
