<div *ngIf="searchItem">
  <mat-card class="video-item-container">
    <img
      class="item-image"
      src="{{searchItem.snippet.thumbnails.medium.url}}"
      alt="video-thumbnail"
      height="123"
      width="223" />
    <div class="item-icons-container">
      <span class="item-stat">
        <mat-icon class="item-icon">remove_red_eye</mat-icon>
        {{searchItem.statistics.viewCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">thumb_up</mat-icon>
        {{searchItem.statistics.likeCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">thumb_down</mat-icon>
        {{searchItem.statistics.dislikeCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">comment</mat-icon>
        {{searchItem.statistics.commentCount}}
      </span>
    </div>
    <mat-card-title class="item-title">{{searchItem.snippet.title}}</mat-card-title>
    <div class="card-btn">
      <app-custom-button
        (buttonClickRequested)="onMoreButtonClick(searchItem.id)"
        class="more-custom-button"
        customClass="more-button button"
        >more...</app-custom-button
      >
      <app-custom-button
        *ngIf="searchItem.custom"
        (buttonClickRequested)="onDeleteButtonClick(searchItem.id.videoId)"
        customClass="filter-button button">
        <mat-icon class="delete-icon">delete_forever</mat-icon>
      </app-custom-button>
      <app-custom-button
        *ngIf="!searchItem.custom"
        (buttonClickRequested)="onToggleFavoriteStatusButtonClick(searchItem.id)"
        customClass="filter-button button">
        <mat-icon [ngClass]="(isFavoriteItem(searchItem.id) | async) ? 'favorite': ''" class="delete-icon"
          >favorite</mat-icon
        >
      </app-custom-button>
    </div>
    <div [appColoredBorder]="searchItem.snippet.publishedAt" class="item-border"></div>
  </mat-card>
</div>
