<div class="main-container">MAIN PAGE DUMMY TEXT</div>
<div class="links">
  <a [routerLink]="'/auth/signup'">Registration</a>
  <a [routerLink]="'/auth/signin'">Login</a>
  <a [routerLink]="'/auth/profile'">Profile</a>
</div>
<div class="main">
  <div class="group-list-container">
    <div class="buttons-container">
      <button
        (click)="onUpdateButtonClick()"
        mat-raised-button
        color="primary"
        class="update-button"
        [disabled]="(groupService.isExceptionSubject | async) === true
          || (modalService.isExceptionSubject | async) === true">
        UPDATE GROUP LIST
      </button>
      <!--todo: try to implement fucking timer-->
      <button
        (click)="onCreateGroupButtonClick()"
        [disabled]="(groupService.isExceptionSubject | async) === true
          || (modalService.isExceptionSubject | async) === true"
        mat-raised-button
        color="primary"
        class="update-button">
        CREATE A NEW GROUP
      </button>
    </div>
    <ng-container *ngIf="store.select(selectGroupList) | async as groupList">
      <div class="group-list">
        <h2 class="group-header">Available groups:</h2>
        <div class="group-wrapper">
          <div class="specific-group" *ngFor="let item of groupList; let i = index">
            <a class="specific-link" [routerLink]="[ProjectPages.Group, item.id]"
              >{{i + 1}}: {{item.name}}</a
            >
            <button
              *ngIf="userUid === item.createdBy"
              mat-raised-button
              color="accent"
              [disabled]="(modalService.isExceptionSubject | async)===true"
              (click)="onDeleteGroupButtonClick(item.id)">
              DELETE
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="people-list-container">
    <button
      [disabled]="(peopleService.isExceptionSubject | async)===true"
      (click)="onUpdatePeopleListButtonClick()"
      mat-raised-button
      color="primary"
      class="update-people-button">
      UPDATE PEOPLE LIST
    </button>
    <!--todo: try to implement fucking timer2-->
    <ng-container *ngIf="store.select(selectPeopleList) | async as peopleList">
      <div class="people-list">
        <h2 class="people-header">Available users:</h2>
        <div class="people-wrapper">
          <div class="specific-group" *ngFor="let item of peopleList; let i = index">
            <a class="specific-link" [routerLink]="[ProjectPages.Conversation, item.uid]"
              >{{i + 1}}: {{item.name}}</a
            >
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
