.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  min-width: 120rem;
}

.admin-form {
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
  padding: 5rem;
}

.description {
  resize: none;
}

.admin-form {
  display: flex;
}

.tag-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  width: 100%;
}

.add-tag-button {
  margin-bottom: 1rem;
}

.form-sb {
  display: flex;
  justify-content: space-between;
}

.newly-created-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.nc-description {
  max-width: 60rem;
}

.search-link {
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: #3f51b5;
  transition: 0.7s;

  &:hover {
    color: #800a0a;
  }
}
