.mat-toolbar-row {
  justify-content: center;
}

.app-logo {
  margin-right: 1.3rem;
}

.header-input {
  height: 2.4rem;
  width: 39.6rem;
  max-width: 100%;
}

.search-button {
  height: 2.9rem;
  border-radius: 0;
  box-shadow: 0.2rem 0 0.4rem 0 #ff4081;
}
