@mixin light-theme {
  .wrapper {
    min-width: 80rem;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar-list {
    display: flex;
    gap: 5rem;
    list-style: none;
  }

  .navbar-link {
    color: #f2f2f2;
    padding: 1.6rem 1.6rem;
    text-decoration: none;
    font-size: 3rem;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }

  .theme-button {
    font-size: 1.5rem;
  }

}
