<div class="header-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <a class="home-link" href="/">
        <img
          class="app-logo"
          [ngSrc]="'./assets/youtube-logo.png'"
          alt="app-logo"
          height="50"
          width="50"
          priority="true" />
      </a>
      <input class="header-input" type="text" #searchInput (input)="onSearchInputChange(searchInput.value)" />
      <app-custom-button
        *ngIf="!filtersVisibilityService.isItemOrMainRoute() && !isAddButtonClicked"
        (buttonClickRequested)="onToggleFiltersButtonClick()"
        customClass="filter-button button">
        <mat-icon class="gear-icon icon">settings</mat-icon>
      </app-custom-button>
      <div class="login-information">
        <span class="user-name"
          >Login Status: <span class="login-status">{{this.loginService.isLoggedIn$ | async}}</span></span
        >
        <div class="login-button-container">
          <app-custom-button
            (buttonClickRequested)="onLoginButtonClick()"
            customClass="login-cb button"
            *ngIf="(this.loginService.isLoggedIn$ | async) === false">
            <mat-icon class="login-icon icon">supervised_user_circle</mat-icon>
          </app-custom-button>
          <app-custom-button
            (buttonClickRequested)="onLogoutButtonClick()"
            customClass="login-cb button"
            *ngIf="this.loginService.isLoggedIn$ | async">
            <mat-icon class="login-icon icon">logout</mat-icon>
          </app-custom-button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
