<div *ngIf="searchItem">
  <mat-card class="video-item-container">
    <img
      class="item-image"
      src="{{searchItem.snippet.thumbnails.medium.url}}"
      alt="video-thumbnail"
      height="123"
      width="223" />
    <div class="item-icons-container">
      <span class="item-stat">
        <mat-icon class="item-icon">remove_red_eye</mat-icon>
        {{searchItem.statistics.viewCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">thumb_up</mat-icon>
        {{searchItem.statistics.likeCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">thumb_down</mat-icon>
        {{searchItem.statistics.dislikeCount}}
      </span>
      <span class="item-stat">
        <mat-icon class="item-icon">comment</mat-icon>
        {{searchItem.statistics.commentCount}}
      </span>
    </div>
    <mat-card-title class="item-title">{{searchItem.snippet.title}}</mat-card-title>
    <button class="more-button" mat-raised-button color="primary">more...</button>
  </mat-card>
</div>
