/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 10px }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100rem;
}

app-footer {
  margin-top: auto;
}

app-main,
app-profile,
app-conversation,
app-group,
app-registration,
app-login {
  margin: auto;
}
