.sort-container {
  padding-right: 25rem;
}

.sort-label {
  color: #929292;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.by-word-or-sentence {
  font-size: 1.4rem;
  margin-right: 1rem;
  color: #3f51b5;
}
