<h2 class="profile-header">Profile Information</h2>
<form class="profile-form">
  <mat-form-field class="profile-field">
    <mat-label>Creation Date</mat-label>
    <input matInput type="text" disabled />
  </mat-form-field>
  <mat-form-field class="profile-field">
    <mat-label>ID</mat-label>
    <input matInput type="text" disabled />
  </mat-form-field>
  <mat-form-field class="profile-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" disabled />
  </mat-form-field>
  <mat-form-field class="profile-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" disabled />
  </mat-form-field>
</form>
