.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.not-found-description {
  color: #828282;
  font-size: 2.4rem;
  font-weight: 700;
}

.home-link {
  color: #3f51b5;

  &:visited {
    color: #3f51b5;
  }
}
