<div class="header-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <img
        class="app-logo"
        [ngSrc]="'./assets/youtube-logo.png'"
        alt="app-logo"
        height="50"
        width="50"
        priority="true" />
      <input class="header-input" type="text" #searchInput />
      <button
        (click)="onSearchButtonClick(searchInput.value ? searchInput.value : ' ')"
        class="search-button"
        mat-raised-button
        color="primary">
        Search
      </button>
      <button (click)="onToggleFiltersButtonClick()" class="filter-button" mat-mini-fab color="primary">
        <mat-icon>settings</mat-icon>
      </button>
      <div class="login-information">
        <span class="user-name">Your Name</span>
        <button class="login-button" mat-mini-fab color="primary">
          <mat-icon>supervised_user_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
